<!DOCTYPE html>
<html>
<head>
  <title>Bridge</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>	
	<script>
    var currentUserId = <%= current_user ? current_user.id : 0 %>;
  </script>
	<% if current_user %>
		<%= render 'header' %>
	<% end %>
	
	<%= yield %>
		
</body>
</html>
